
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

/* ------------------------------------ BACKGROUND ----------------------------------------- */

.containerImageContact{
    background-image: url("../images/Background/spicesJar.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

/* -------------------------------------- FORM ------------------------------------------- */
.formStyle{
    border: 2px solid #FC6112;
    border-radius: 5px;
    padding: 5%;
}

.formText{
    color: #382507;
}

.fontForm{
    font-family: 'Kalam';
    font-size: em;
    color: #382507;
    padding: 0%;
    margin: 0%;
}

.bouton{
    display: inline-block;
    align-self: center;
    font-family: 'Kalam';
    font-weight: 500;
    line-height: 1.5;
    color: #FC6112;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid #FC6112;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
}

.bouton:hover{
    background-color: #FC6112;
    border: 2px solid #FC6112;
    color: #F8A41E;
}
