@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.containerimage{
    background-image: url("../background/epiceBackground.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.linkStyle{
    text-decoration: none;
    color: #FC6112;
}

.linkStyle:hover{
    text-decoration: none;
    color: #F8A41E;
}

/* ----------------------------------------------------- CARD --------------------------------------------------------- */
/* TITRE CARD */

.display-3 {
    font-family: 'Kalam';
    color: #F04628; 
}

p{
    font-weight: 500;
    color: #382507;
}

.boutonCard{
    display: inline-block;
    align-self: center;
    font-family: 'Kalam';
    font-weight: 500;
    line-height: 1.5;
    color: #FC6112;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid #FC6112;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
}

.boutonCard:hover{
    background-color: #FC6112;
    border: 2px solid #FC6112;
    color: #F8A41E;
}