@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.containerimage{
    background-image: url("../background/epiceBackground.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}