@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

/* ------------------------------------ BACKGROUND ----------------------------------------- */

.containerImageMenu{
    background-image: url("../images/Background/tableSpices.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

/* ----------------------------------------- MENU ----------------------------------------- */
.textTitle{
    font-family: 'Kalam';
    font-size: 2.5em;
    font-weight: 600;
    text-align: center ;
    letter-spacing: 2px;
    padding-top: 1.5%;
}

.list-group{
    border: 1px solid #F04628;
    background-color: #FC6112;
}


.colonneMenu{
    width: 75%;
    font-family: 'kalam';
    font-size: 1em;
    font-weight: 700;
    color: #382507;
    margin-left: 5%;
    border-right: 1px solid #F04628;
    
}

.colonnePrix{
    font-family: 'kalam';
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: #382507;

}

.veganBadge{
    background-color: #218380;
    margin-left: 5%;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Kalam';
    font-size: em;
    font-weight: 400;
    color: white;

}