@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.containerImagePictures{
    background-image: url("../images/Background/fourSpoon.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

/* -------------------------------- CARD ------------------------------------------------------- */
#carte{
    width: 26rem;
    border: 1px solid #F04628;
    border-radius: 6px;
    background-color: rgba(240, 70, 40, 0.25);
}

.titreCard{
    font-family: 'Kalam';
    color: #F04628;
    font-size: em;
}

.foodCard{
    border: 1px solid #F04628;
}

.card-body-image{
    background-color: #F04628;
}

p{
    font-weight: 500;
    color: #382507;
}

/* ---------------------------------------- PAGINATION ------------------------------------ */
#pagination{
    background-color: #F04628;
    color: #F8A41E;
    border: 1px solid #F8A41E;
    font-weight: 600;
}

#pagination:hover{
    background-color: #F8A41E;
    color: #F04628;
}

#paginationActive{
    background-color: #F8A41E;
    color: #F04628;
    border: 1px solid #F04628;
    font-weight: 900;
}