.containerImagePictures{
    background-image: url("background/vanilleBackground.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

/* -------------------------------- CARD ------------------------------------------------------- */

/* .card{

} */

.titreCard{
    font-family: 'Kalam';
    color: #F04628;
    font-size: em;
}

.foodCard{
    border: 1px solid #F04628;
}

.card-body-image{
    background-color: #F04628;
}
