@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.mycontainer{
    background: linear-gradient(#FACB40, #F8A41E) ;
}


/* ----------------------------- CARD -------------------------------- */
/* TITRE CARD */

.display-4 {
    font-family: 'Kalam';
    font-weight: 900;
}

.display-3 {
    font-family: 'Kalam';
    color: #F04628;
}

p{
    font-weight: 500;
    color: #515151;
}

/* ------------------------------------------ NAV BAR ------------------------------- */

/* logo */
.fa-pepper-hot{
    color: darkgreen;
    width: 30px;
}

.navbar-brand{
    font-family: 'Kalam';
    font-size: 5em;
}
.nav-link{
    font-family: 'Kalam';
    font-size: em;
    font-weight:300;
}

.nav-link:hover{
    background-color: #F8A41E;
    border: 1px solid #F8A41E;
    border-radius: 5px;
}

.active{
    color: #F8A41E;
    border: 1px solid #F8A41E;
    border-radius: 5px;
}

/* ----------------------- JUMBOTRON -------------------------------------- */

.jumbotronP{
    color: #261b1b;
    font-weight: 500;
}

.lead{
    color: #261b1b;
    font-weight: 900;
}

/* FOOTER */

.footerTitle{
    font-family: 'Kalam';
    color: #04C4B9;
    text-transform: uppercase;
    font-weight: 400;
}

.footerP {
    color: #F8A41E;
}

.footerLinks{
    color: #F04628;
    text-decoration: none;
}

.socialNetworkBouton{
    color: #F04628;
    
}
.socialNetworkBouton:hover{
    color: #F8A41E;
}

.fa-paper-plane{
    color: #F04628;
}

.fa-paper-plane:hover{
    color: #F04628;
}

/* COPYRIGHT */
.copyright {
    background-color: #F8A41E;
}

.copyrightP {
    font-family: 'Kalam';
}
