@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.mycontainer{
    background: linear-gradient(#FACB40, #F8A41E) ;
}


/* ----------------------------- CARD -------------------------------- */
/* TITRE CARD */

.display-4 {
    font-family: 'Kalam';
    font-weight: 900;
    color: #382507;
}

.display-3 {
    font-family: 'Kalam';
    color: #F04628;  /* #FC6112 */
}

p{
    font-weight: 500;
    color: #382507;
}

/* ------------------------------------------ NAV BAR ------------------------------- */

/* logo */
.fa-pepper-hot{
    color: darkgreen;
    width: 30px;
}

.navbar-brand{
    font-family: 'Kalam';
    font-size: 5em;
}

#couleurLogo  {
    color: #F8A41E;
}

.nav-link{
    font-family: 'Kalam';
    font-size: em;
    font-weight:300;
}

.nav-link:hover{
    background-color: #F8A41E;
    border: 1px solid #F8A41E;
    border-radius: 5px;
}

.active{
    color: #F8A41E;
    border: 1px solid #F8A41E;
    border-radius: 5px;
}

.bgNav{
    background-color: rgb(247, 97, 17);
}

/* ----------------------- JUMBOTRON -------------------------------------- */

.jumbotronP{
    color: #261b1b;
    font-weight: 500;
}

.underTitle{
    font-family: 'kalam';
    font-size: 1.5em;
    color: #382507;
    font-weight: 900;
}

.my-4{
    color: #F04628;
}

.bouttonJumbotron{
    display: inline-block;
    align-self: center;
    font-family: 'Kalam';
    font-weight: 500;
    line-height: 1.5;
    color: #382507;
    background-color: rgba(248, 164, 30, 0.75);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 2px solid #382507;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
}

.bgJumbo{
   background-color: rgba(248, 164, 30, 0.75);
}

.bouttonJumbotron:hover{
    background-color: #382507;
    border: 2px solid #382507;
    color: #F8A41E;
}

/* ------------------------------------------------------ FOOTER ---------------------------------------------- */
.bgFooter{
    background-color: #382507;
}


.footerTitle{
    font-family: 'Kalam';
    color: #04C4B9;
    text-transform: uppercase;
    font-weight: 400;
}

.footerP {
    color: #F8A41E;
}

.footerLinks{
    color: rgb(247, 97, 17);
    text-decoration: none;
}

.footerLinks:hover{
    color:#F8A41E;
    text-decoration: none;
}

.socialNetworkBouton{
    color: #F04628;
    
}
.socialNetworkBouton:hover{
    color: #F8A41E;
}

.btn-outline-light{
    background-color: #F8A41E;
}

.fa-paper-plane{
    color: #F04628;
}

/* COPYRIGHT */
.copyright {
    background-color: #F8A41E;
}

.copyrightP {
    font-family: 'Kalam';
}
